.header-main{
    padding: 12px;
    top: 0;
    background-color: #ffffff;
}
.nav-home{
    display: flex;
    float: right;
    margin: 0px;
    padding-top: 40px;
    list-style: none;
}
.nav-home li{
    padding-right: 30px;
}
.nav-home li a{
    font-family: 'Manrope', sans-serif;
    line-height: 20px;
    color: #2a2b33;
    font-weight: bold;
    text-decoration: none;
}
.facebook{
    color: #064f7a;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}
.nav-home li a:hover{
    border-top: 2px solid #96ab5c;
    padding-top: 49px;
}
.rooted{
    font-family: 'Manrope', sans-serif;
    line-height: 20px;
    color: #ffffff!important;
    font-weight: bold;
    text-decoration: none;
    padding: 15px!important;
    background-color: #064f7a;
    border: 2px solid #064f7a!important;
}
.rooted:hover{
    background-color: #ffffff;
    border: 2px solid #064f7a!important;
    color: #064f74!important;
}
.promoting{
    /* background-color: #064f7a; */
    background-image: url(../Images/headerImage.png);
    background-position: center;
    /* background-size: cover; */
}
.promoh1{
    max-width: 1200px;
    margin: auto;
}
.promo-h1{
    margin: 0px;
    font-size: 60px;
    padding-top: 160px;
    font-family: 'Manrope', sans-serif;
    color: #ffffff;
}
.promo-ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding-left: 0px;
    padding-top: 40px;
    padding-bottom: 160px;
}
.promo-ul-li{
    padding-right: 15px;
}
.book{
    text-decoration: none;
    padding: 20px 40px;
    font-family: 'Manrope', sans-serif;
    line-height: 20px;
    font-weight: bold;
    color: #064f7a;
    border: 1px solid transparent;
    background-color: #ffffff;
    transition: 0.5s ease;
}
.book:hover{
    background-color: #064f7a;
    color: #ffffff;
}
.buy{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 18px 16px;
    transition: 0.5s ease;
}
.buy:hover{
    background-color: #064f7a;
    color: #ffffff;
}
.quote{
    background-color: #d5d8da;
}
.left{
    font-size: 100px!important;
    color: grey!important;
}
.contanth4{
    font-size: 40px;
    line-height: 51px;
    color: #2a2b33;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    padding-left: 30px;
}
.span{
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
}
.quote-ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding-left: 0px;
    padding: 40px 0px;
}
.contant-h1{
    font-family: 'Manrope', sans-serif;
    padding: 90px 0px;
    margin: 0px;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #2a2b33;
    font-weight: 500;
}
.contant-h2{
    font-family: 'Manrope', sans-serif;
    margin: 0px;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 40px;
    color: #064f7a;
    font-weight: bold;
    padding-bottom: 40px;
}
.contant-ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 100px;
}
.contant-h3{
    font-family: 'Manrope', sans-serif;
    margin: 0px;
    text-align: left;
    font-size: 28px;
    letter-spacing: 8px;
    line-height: 45px;
    color: #96ab5c;
    font-weight: bold;
    padding: 60px 0px 40px;

}
.contant-p{
    font-family: 'Manrope', sans-serif;
    margin: 0px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #2a2b33;
    font-weight: 500;
}
.ourbook{
    display: flex;
    padding-top: 100px;
}
.ourbook-h1{
    padding-right: 60px;
    padding-left: 103px;
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    line-height: 58px;
    color: #2a2b33;
    font-weight: bold;
}
.ourbook-p{
    margin-top: 50px;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #2a2b33;
    font-weight: normal;
    margin-bottom: 40px;
}
.ourbook-ul{
    display: flex;
    margin-left: 442px;
    padding-left: 0px;
    list-style: none;
    margin-top: -75px;
}
.know{
    background: #064f7a;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    padding: 18px 27px;
    border: 2px solid #064f7a;
    margin-right: 15px;
    transition: 0.5s ease;
}
.know:hover{
    background-color: #ffffff;
    color: #064f74;
}
.now{
    font-family: 'Manrope', sans-serif;
    border: 2px solid #064f7a;
    padding: 18px 41px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: #2a2b33;
    font-weight: bold;
    transition: 0.5s ease;
}
.now:hover{
    background-color: #064f74;
    color: #ffffff;
}
.mug-contant{
    display: flex;
    padding-top: 200px;
    padding-bottom: 100px;
}
.printed-ul{
    list-style: none;
    padding: 0px;
}
.mug{
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    line-height: 58px;
    color: #2a2b33;
    font-weight: bold;
    margin-top: 45px;
}
.printful{
    margin-top: -5px;
}
.mug-li-blue{
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 35px;
    color: #064f7a;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 45px;
}
.mug-li-a1{
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Manrope";
    background: #96ab5c;
    text-decoration: none;
    padding: 26px 36px;
    transition: 0.5s ease;
}
.mug-li-a1:hover{
    background: #fff;
    color: #96ab5c;
    border: 1px solid #96ab5c;
    transition: 0.5s ease;
}
.mug-li-a2{
    font-size: 18px;
    line-height: 20px;
    color: #2a2b33;
    font-weight: 700;
    font-family: "Manrope";
    text-decoration: none;
    border: 1px solid #96ab5c;
    padding: 26px 36px;
    transition: 0.5s ease;
}
.mug-li-a2:hover{
    background: #96ab5c;
    color: #fff;
    transition: 0.5s ease;
}
.mug-li-red{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    color: #ee4918;
}
.two-img{
    background-color: #f2f1f9;
}
.img-2{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}
.no-img{
    padding-right: 50px;
}
.noimg-h1{
    margin-left: 34.6%;
    margin-top: -51px;

}
.noimg-ul{
    display: flex;
    padding-top: 40px;
    padding-left: 0px;
    list-style: none;
}
.noimg-li1{
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    line-height: 24px;
    color: #2a2b33;
    font-weight: bold;
    /* padding-left: 18px; */
    /* padding-right: 50px; */
    margin: 0px;
}
.noimg-ul2{
    padding-left: 20px;
}
.noimg-li2{
    padding-left: 152px;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #2a2b33;
    font-weight: bold;
    text-align: center;
}
.noimg-a{
    color: black;
    text-decoration: none;
    border: 2px solid #96ab5c;
    padding: 18px 43px;
    transition: 0.5s ease;
}
.noimg-a:hover{
    background: #96ab5c;
}
.noimg-h2{
    padding-top: 50px;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #2a2b33;
    font-weight: 500;
}
.noimg-h3{
    padding-top: 50px;
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    line-height: 35px;
    color: #96ab5c;
    font-family: "Manrope";
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0px;
}
.noimg-h4{
    padding-top: 20px;

    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    line-height: 35px;
    color: #96ab5c;
    font-family: "Manrope";
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0px;
}
.flex{
    display: flex;
}
.img-ul{
    display: flex;
    padding-top: 40px;
    padding-left: 0px;
    list-style: none;
}
.img-li2{
    padding-left: 176px;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #2a2b33;
    font-weight: bold;
    text-align: center;
}
.noimg-ul3{
    padding-left: 110px;
}
.noimg-li3{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 35px;
    color: #96ab5c;
    font-weight: 500;
}
.noimg-p{
    margin: 0px;
    color: #2a2b33;
}
.with-img{
    padding-left: 50px;
}
.green-img{
    background-image: url(../Images/green-bg.png);
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
.green-h1{
    font-family: 'Manrope', sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 60px;
    color: #ffffff;
}
.green-h2{
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    line-height: 58px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}
.green-h3{
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    line-height: 35px;
    color: #ffffff;
    font-family: "Manrope";
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.green-p{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}
.root-h1{
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    line-height: 59px;
    color: #2a2b33;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding-top: 100px;
}
.root-ul{
    text-align: center ;
    display: flex;
    margin-bottom: 100px;
    list-style: none;
    padding: 0px;
}
.root-li{
    padding-top: 50px;
    width: 33%;
}
.root-h2{
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    line-height: 35px;
    color: #96ab5c;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.topic-head{
    padding-bottom: 100px;
    padding-top: 100px;
}
.topic-h1{
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    line-height: 35px;
    color: #2a2b33;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}
.topic-ul{
    list-style: none;
    text-align: center;
    padding: 0px;
    margin-top: 30px;
}
.topic-li{
    font-family: 'Manrope', sans-serif;
    border: 2px solid #000;
    display: inline-block;
    padding: 8px 9px;
    margin: 8px 3px;
    font-size: 18px;
    font-weight: 700;
}
.form-left{
    max-width: 100%;
    display: flex;

}
.form-main{
    width: 56%;
    background-color: #064f74;
    padding-top: 50px;
    padding-left:50px;
}
.form-h1{
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    line-height: 58px;
    color: #ffffff;
    font-weight: bold;
    margin: 0px;
}
.form-p{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    font-weight: bold;
    margin: 30px 0px 0px;
}
.form-fil{
    padding-top: 45px;
}
.fname1{
    font-size: 18px;
    line-height: 58px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Manrope";
    position: absolute;
    top: -28px;
    left: 15px;
}
.fname2{
    font-size: 18px;
    line-height: 58px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Manrope";
    position: absolute;
    top: -28px;
    left: 54%;
}
.fname3{
    font-size: 18px;
    line-height: 58px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Manrope";
    position: absolute;
    top: 40px;
    left: 15px;
}
.fname4{
    font-size: 18px;
    line-height: 58px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Manrope";
    position: absolute;
    top: 40px;
    left: 54%;
}
.fname5{
    font-size: 18px;
    line-height: 58px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Manrope";
    position: absolute;
    bottom: 80px;
    left: 14px;
}
.form-check{
    font-size: 18px;

    color: #ffffff;
    font-weight: 500;
    font-family: "Manrope";
}
.check{
    margin-top: 24px;
    margin-bottom: 0px;
}
.mgs{
    background: transparent;
    margin-top: 35px;
    width: 648px;
    height: 101px;
}
.sub{
    position: absolute;
    bottom: -100px;
    padding: 26px 32px;
    background-color: #96ab5c;
    border: 0px;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Manrope";
}
.name{
    background: transparent;
    border: .5px solid #fff;
    height: 47px;
    width: 308px;
}
.bookreview{
    background-color:#f2f1f9;
}
.review-contant{
    padding-top: 80px;
    padding-bottom: 80px;
}
.review-ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}
.review-li{
    padding-top: 30px;
}
.review-li1{
    padding: 30px;
    background: #2a2b33;
    margin: 0px 40px;
}
.review-h1{
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    line-height: 58px;
    color: #2a2b33;
    font-weight: bold;
    text-align: center;
}
.review-h2{
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    line-height: 35px;
    color: #96ab5c;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.review-h3{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #2a2b33;
    font-weight: bold;
    margin: 10px 0px 15px;
}
.review-h3-1{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #f2f1f9;
    font-weight: bold;
    margin: 10px 0px 15px;
}
.review-h4{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #2a2b33;
    font-weight: 500;
}
.review-h4-1{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #f2f1f9;
    font-weight: 500;
}
.logo{
    max-width: 1200px;
    margin: auto;
    padding: 100px 0px;
    text-align: center;
    list-style: none;
}
.logo-h1{
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    letter-spacing: 15px;
    line-height: 45px;
    color: #96ab5c;
    font-weight: 300;
    text-align: center;
    margin-bottom: 70px;
}
.logo-ul{
    list-style: none;
    padding: 0px;

}
.logo-li{
    display: inline-block;
    margin: 25px 48px;

}
.footer{
    padding: 100px 0px;
    background: #2a2b33;
}
.footer-para{
    margin-bottom: 12px;
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}
.footer-row{
    display: flex;
}
.footer-logo{
    padding-right: 80px;
}
.footer-menu{
    border-left: 2px solid #404040;
}
.footer-ul{
    list-style: none;
    padding-left: 80px;
    padding-right: 80px;
}
.footer-li1{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    font-weight: normal;
}
.footer-li2{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    font-weight: normal;
    padding-bottom: 30px;
    padding-top: 45px;
    color: #96ab5c;
}
.footer-shop-a{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 16px;
        color: #96ab5c;
}
.footer-li{
    margin-bottom: 18px;
}
.footer-h6{
    margin: 0px;
    font-size: 18px;
    line-height: 20px;
    color: #96ab5c;
    font-weight: bold;
    margin-bottom: 28px;
    font-weight: 700;
    font-family: "Manrope";
}
.footer-a{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    margin-bottom: 18px;
    text-decoration: none;
}
.footer-a:hover{
    color: #96ab5c;
    border-bottom: 1px solid #96ab5c;;
}
.footer-a1{
    color: #96ab5c;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    border-bottom: 1px solid #96ab5c;
}
.footer-a2{
    padding: 23px;
    background: #96ab5c;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-weight: bold;
    transition: 0.5s ease;
}
.footer-a2:hover{
    background-color: #ffffff;
    color: #96ab5c;
}